# Files and folders that don't need to be in the Docker build context.
dependencies/
docker/Dockerfile
docs/
test/results/

# Metadata that doesn't need to be in the Docker build context.
*/__pycache__/
*.egg-info
.dockerignore
.git/
.github/
.vscode/
