adjustText==0.7.3
alabaster==0.7.12
appdirs==1.4.4
astar==0.93
attrs==21.4.0
autopep8==1.6.0
Babel==2.9.1
catkin-pkg==0.4.24
certifi==2021.10.8
charset-normalizer==2.0.12
cycler==0.11.0
descartes==1.1.0
docutils==0.17.1
empy==3.3.4
esbonio==0.10.3
flake8==4.0.1
fonttools==4.28.5
idna==3.3
imagesize==1.3.0
importlib-metadata==4.11.3
iniconfig==1.1.1
Jinja2==3.1.1
kiwisolver==1.3.2
lark==1.1.2
MarkupSafe==2.1.1
matplotlib==3.5.1
mccabe==0.6.1
numpy==1.22.1
packaging==21.3
Pillow==9.0.1
pluggy==1.0.0
py==1.11.0
pycodestyle==2.8.0
pycollada==0.7.2
pydantic==1.8.2
pydocstyle==6.1.1
pyflakes==2.4.0
pyglet==1.5.22
pygls==0.11.3
Pygments==2.11.2
pyparsing==3.0.7
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyspellchecker==0.6.3
pytest==7.1.1
python-dateutil==2.8.2
pytz==2022.1
PyYAML==6.0
requests==2.27.1
scipy==1.8.0
Shapely==1.8.0
six==1.16.0
snowballstemmer==2.2.0
Sphinx==4.5.0
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
toml==0.10.2
tomli==2.0.1
transforms3d==0.3.1
trimesh==3.10.2
typeguard==2.13.3
typing-extensions==4.1.1
urllib3==1.26.9
zipp==3.8.0
